fastapi>=0.104.1
pandas
uvicorn[standard]>=0.24.0
omegaconf==2.3.0
dacite
loguru
s3fs
json_repair
vector_quantize_pytorch
pydub
ruff==0.12.2
click
langid
jieba
accelerate>=0.26.0
descript-audio-codec
transformers==4.47.0
torch>=2.0.0
torchaudio>=2.0.0
numpy>=1.24.0
pydantic>=2.5.0