fastapi>=0.104.1
uvicorn[standard]>=0.24.0
librosa==0.11.0
s3tokenizer
torch
torchaudio
transformers==4.46.3
torchvision
diffusers==0.29.0
resemble-perth==1.0.1
conformer==0.3.2
safetensors==0.5.3
numpy>=1.24.0
pydantic>=2.5.0
perth
pyloudnorm
omegaconf

spacy-pkuseg
pykakasi==2.3.0